<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Gastos</title>
</head>
<body>
    <h1>Lista de Gastos</h1>
    <a href="{{ url_for('auth.register_user') }}">Registrarme</a>
    <a href="{{ url_for('expenses.add_expense') }}">Agregar Gasto</a>
    <ul>
        {% for expense in expenses %}
            <li>{{ expense.category }} - ${{ expense.amount }} - <a href="{{ url_for('expenses.edit_expense', id=expense.id) }}">Editar</a> | 
            <form action="{{ url_for('expenses.delete_expense', id=expense.id) }}" method="post" style="display:inline;">
                <button type="submit">Eliminar</button>
            </form></li>
        {% endfor %}
    </ul>
</body>
</html>
