{% extends "base.html" %}
    {% block content %}
    <h1>Agregar Nuevo Gasto</h1>
    <form action="/api/gasto/nuevo" method="POST">
        <label>Categoría:</label>
        <select name="categoria" required>
            {% for category in categories %}

            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <label>Cantidad:</label>
        <input type="number" step="0.01" name="cantidad" required>

        <label>Concepto:</label>
        <input type="text" name="concepto" required>

        <label>Fecha:</label>
        <input type="date" name="fecha" value="{{ today }}" required>

        <button type="submit">Guardar</button>
    </form>
    <a href="/gastos">Volver a Lista de gastos</a>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Ir a inicio</a>
    {% endblock %}
